@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h5 {
    @apply absolute px-6 md:px-10 uppercase bottom-[8%] w-52 text-white duration-200 group-hover:text-black group-hover:scale-110 text-2xl font-light;
  }
}

@layer components {
  .item-container {
    @apply grid grid-cols-1 md:grid-cols-4 gap-y-6 md:gap-x-8 w-full;
  }

  .btn {
    @apply uppercase border-2 border-black px-10 p-2 tracking-widest font-bold font-alata hover:bg-black hover:text-white duration-150;
  }

  .item-gradient {
    @apply absolute top-0 right-0 left-0 bottom-0 bg-gradient-to-b from-transparent to-gray-900 group-hover:from-gray-50 group-hover:to-white group-hover:opacity-50;
  }
}

#hero {
  background-image: url("./../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 576px) {
  #hero {
    background-image: url("./../images/mobile/image-hero.jpg");
    background-position: center;
  }
}
